html {
	background-color: #777;
	color: #444444;
} 

body { 
	padding: 0;
	margin: 0;
}


/* main header division */
.header {
	padding-top: 80px;
	background-color: #444;
}


/* main menu text */
.inside {
	padding: 0px 10px 0px 15px;
	border-left-color: #999999;
	border-left-style: solid;
	border-left-width: medium;
	line-height: 20px;
}


/* middle section division */
.middle {
	font: Arial, Helvetica, sans-serif;
	background-color: #fefaec;
}


/* navigation bar */
.navbar { 
	padding: 5px 5px 5px 15px;
	background-color: #CCC;
	font: 13px Arial, Helvetica, sans-serif;
}


/* text body declaration */
.mainBody {
	padding: 15px;
}

/* text headers */
.mainHeader {
	font: 25px Arial, Helvetica, sans-serif;
}

/* section text */
.mainSection {
	font: Arial, Helvetica, sans-serif;
	text-align: justify;
	padding-left: 20px;
	padding-right: 30px;
}

footer {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #DDD;
	background-color: #777;
	height: 10px;
	padding: 5px;
}

/* gallery */

div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
}

div.gallery:hover {
	border: 1px solid #777;
}

div.gallery img {
	width: 100%;
	height: auto;
}

div.desc {
	font-size: 75%;
	padding: 15px;
	text-align: center;
}
